@page
@model ManegmentSystems.Pages.CHECK.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Check</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Check.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Check.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Check.DueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Check.DueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Check.Photo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Check.Photo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Check.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Check.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Check.Income)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Check.Income.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Check.Outcome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Check.Outcome.Id)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Check.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
@section Scripts{ }